<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td>Doctor</td>
    <td><form id="form1" name="form1" method="post" action="">
      <label>
        <input type="text" name="textfield" />
        </label>
    </form>    <label></label></td>
  </tr>
  <tr>
    <td>From time </td>
    <td><label>
      <input type="text" name="textfield2" />
    </label></td>
  </tr>
  <tr>
    <td>To time </td>
    <td><label>
      <input type="text" name="textfield3" />
    </label></td>
  </tr>
  <tr>
    <td>Days</td>
    <td><label>
      <input type="text" name="textfield4" />
    </label></td>
  </tr>
  <tr>
    <td>AM/PM</td>
    <td><p>
      <label></label>
      <label>
        <input type="text" name="textfield5" />
        </label>
      <br />
      <label></label>
      <br />
    </p></td>
  </tr>
  <tr>
    <td colspan="2"><label>
      <input type="submit" name="Submit" value="Add" />
    </label></td>
  </tr>
</table>
</body>
</html>
