<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="admindash">
  <table width="200" border="1">
    
    <tr>
      <td><a href="{% url 'approved' %}">Approve or reject hospital</a></td>
    </tr>
    <tr>
      <td><a href="#">View hospital</a></td>
    </tr>
    <tr>
      <td><a href="{% url 'viewdep' %}">View departments</a></td>
    </tr>
    <tr>
      <td><a href="#">View doctor</a></td>
    </tr>
    <tr>
      <td><a href="#">View complaint reply</a></td>
    </tr>
    <tr>
      <td><a href="#">Block or unblock hospital</a></td>
    </tr>
    <tr>
      <td><a href="#">View feedback</a></td>
    </tr>
    <tr>
      <td><a href="#">Logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
