<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="'">
  <table width="200" border="1">
    <tr>
      <td><p>&nbsp;</p>
      <p><a href="#">Profile</a></p></td>
    </tr>
    <tr>
      <td><a href="{% url 'view_schedule' %}">View schedule</a></td>
    </tr>
    <tr>
      <td><a href="{% url 'doc_view_schedule' %}">View appoinment</a></td>
    </tr>
    <tr>
      <td><a href="#">View user record</a></td>
    </tr>
    <tr>
      <td><a href="#">Add user record</a></td>
    </tr>
    <tr>
      <td><a href="#">View rating</a></td>
    </tr>
    <tr>
      <td><a href="#">Add leave</a></td>
    </tr>
    <tr>
      <td><a href="#">Log out</a></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
